 <div class="ui clearing basic segment">
        <div class="ui floated text menu">
          <div class="header item">Filter By</div>
          <a class="active item">
            All
          </a>
          <a class="item" href='/deck/?filter={"locale": "Thailand"}'>
            Thailand
          </a>
          <a class="item" href='/deck/?filter={"locale": "Thailand", "email": {"$ne" : "N/A"}}'>
            Thai &amp; Email
          </a>
        </div>

        <button class="ui right floated button">
          Send Message
        </button>
        <button class="ui right floated button">
          Export All
        </button>
        <button class="ui right floated  primary button">
          <i class="fa fa-filter"></i> Filter &amp; Sort
        </button>
      </div>

<div class="ui five special cards">
<!-- repeat -->
{{#each profiles}}
    <div class="ui card" style="overflow:hidden">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <a class="ui inverted button">In-Depth</a>
              </div>
            </div>
        </div>
        <img src="{{ _doc.images.0.src }}">
      </div>
      <div class="content">
        <a class="header" target="blank" href="https://instagram.com/{{ _doc.user.username }}">@{{ _doc.user.username }}</a>
        <div class="meta">
          <span class="date">{{ number _doc.follower_count }} followers</span>
        </div>
        <div class="description">
          <table class="ui very basic collapsing celled table">
             <tr><td>Activity</td><td>- <i>LpH</i></td></tr>
             <tr><td>Category</td><td>-</td></tr>
             <tr><td>Region</td><td>{{ _doc.locale }}</td></tr>
             <tr><td>Phone</td><td>{{ brize _doc.phone_number }}</td></tr>
             <tr><td>Email</td><td>{{ brize _doc.email }}</td></tr>
          </table>
        </div>
      </div>
       <div class="extra content">
          # {{ inc @index}} / {{ number ../profile_count }}
        </div>
    </div>
  {{/each}}

</div>


<script>

  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
