 <div class="ui clearing basic segment">
        <div class="ui floated text menu">
          <div class="header item">Filter By</div>
          <a class="active item">
            All
          </a>
          <a class="item">
            Male
          </a>
          <a class="item">
            Female
          </a>
          <a class="item">
            Non-human
          </a>
        </div>

        <button class="ui right floated button">
          Send Message
        </button>
        <button class="ui right floated button">
          Export All
        </button>
        <button class="ui right floated  primary button">
          <i class="fa fa-filter"></i> Filter &amp; Sort
        </button>
      </div>

<div class="ui five special cards">
<!-- repeat -->
{{#each profiles}}
    <div class="ui card" style="overflow:hidden">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <a class="ui inverted button" onclick="detail()">In-Depth</a>
              </div>
            </div>
        </div>
        <img src="{{ _doc.images.0.src }}">
      </div>
      <div class="content">
        <a class="header" target="blank" href="https://instagram.com/{{ _doc.user.username }}">@{{ _doc.user.username }}</a>
        <div class="meta">
          <span class="date">{{ alphaFollowerCount _doc.header }} followers</span>
        </div>
        <div class="description">
          <table class="ui very basic collapsing celled table">
             <tr><td>Activity</td><td>- <i>LpH</i></td></tr>
             <tr><td>Category</td><td>-</td></tr>
             <tr><td>Region</td><td>{{ alphaLanguage _doc.header }}</td></tr>
             <tr><td>Phone</td><td>{{ alphaPhoneNumber _doc.header }}</td></tr>
             <tr><td>Email</td><td>{{ alphaEmail _doc.header }}</td></tr>
          </table>
        </div>
      </div>
       <div class="extra content">
          # {{ inc @index}}
        </div>
    </div>
  {{/each}}

</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>


<script>
  function detail(){
    $('.long.modal')
    .modal('setting', 'transition', 'fade up')
    .modal('setting', 'duration', 200)
    .modal('show')
  }

  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
