 <div class="ui clearing basic segment">
        <div class="ui floated text menu">

          <div class="ui dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>&nbsp;
            <div class="default text"><i class="fa fa-youtube"></i>&nbsp;YouTube <strong>Global</strong></div>
            <div class="menu">
              <div class="item" data-value="ytt"><i class="fa fa-youtube"></i>&nbsp;YouTube <strong>Thailand</strong></div>
              <div class="item" data-value="igg"><i class="fa fa-instagram"></i>&nbsp;IG <strong>Global</strong></div>
              <div class="item" data-value="igt"><i class="fa fa-instagram"></i>&nbsp;IG <strong>Thailand</strong></div>
            </div>
          </div>


        </div>

        <button class="ui right floated button">
          Send Message
        </button>
        <button class="ui right floated button">
          Export All
        </button>
        <button class="ui right floated  primary button">
          <i class="fa fa-filter"></i> Filter &amp; Sort
        </button>
      </div>

<div class="ui five special cards">
<!-- repeat -->
{{#each profiles}}
    <div class="ui card" style="overflow:hidden">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <a class="ui inverted button">In-Depth</a>
              </div>
            </div>
        </div>
        <img src="{{ ytUpSize _doc.logo }}">
      </div>
      <div class="content">
        <a class="header" target="blank" href="https://instagram.com/{{ _doc.user.username }}">{{ _doc.title }}</a>
        <div class="meta">
          <span class="date">{{ number _doc.subscriber_count }} subscribers</span>
        </div>
        <div class="description">
          <table class="ui very basic collapsing celled table">
             <tr><td>Region</td><td>{{ _doc.country }}</td></tr>
             <tr><td>Email</td><td>{{ _doc.email }}</td></tr>
             <tr><td>Views</td><td>{{ number _doc.view_count }}</td></tr>
          </table>
        </div>
      </div>
       <div class="extra content">
          # {{ inc @index}} / {{ number ../profile_count }}
        </div>
    </div>
{{/each}}
</div>

<p class="ui container">
<div class="ui pagination menu">
  <a class="item">
     <i class="fa fa-caret-left"></i>
  </a>
  {{#each pages}}
  <a onclick="getPage({{ this }})" class="item {{#if_eq ../currentPage this}}active{{/if_eq}}">{{ this }}</a>
  {{/each}}
  <a class="item">
    <i class="fa fa-caret-right"></i>
  </a>
</div>

</p>

<script>

function dictToQuery(D){
  var str = [];
  for(key in D){
    str.push(key + "=" + D[key]);
  }
  return str.join("&");
}

function getPage(n){
  if(window.location.search.length > 0){
    var ex  = window.location.search.substr(1);
    var exList = ex.split('&');
    var dict = {};
    exList.forEach(function(exItem){
      var spp = exItem.split('=');
      dict[spp[0]] = spp[1];
    });

    dict['page'] = n;

    window.location.href = window.location.href.split('?')[0] + '?' + dictToQuery(dict);
  }else{
    window.location.href = window.location.href + '?page=' + n;
  }

}
  $('.special.cards .image').dimmer({
    on: 'hover'
  });

  $('.ui.dropdown')
  .dropdown()
;
</script>
